@font-face {
  font-family: 'Aeonik Pro';
  font-style: normal;
  font-weight: 400;
  src: url('Aeonik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Aeonik Pro';
  font-style: normal;
  font-weight: 900;
  src: url('Aeonik-Black.woff2') format('woff2');
}
